<div>
<p> Hey, <%= current_user.name %> </p>
<h1>Welcome to Budget App!</h1>
<p> Do have a wonderful experience on how to keep track of your expenses to ensure acxurate management of your finance. </p>
</div>