<div>
<p> Hey, <%= current_user.name %> </p>
<h1>Welcome to Budget App!</h1>
<p> Do have wonderful experience on how to keep track your expenses to ensure your financial management is intact</p>
</div>