.forget_container {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
}

.forget-title {
  margin-left: 1px;
}

.new-user {
  margin-left: 1px;
}

.new-user a {
  text-decoration: none;
}
