.forget_container {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
}

.forget_title {
  margin-left: 47%;
}

.forget_form {
  margin-left: 47%;
  margin-top: 20px;
}
