.group-container {
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #a5a1a1;
  border-radius: 5px;
}

.group_title {
  margin-left: 45%;
  margin-bottom: 20px;
}

.group_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.group_link {
  text-decoration: none;
  color: #692ceb;
}

.group_link:hover {
  text-decoration: underline;
}

.group_amount {
  font-size: 20px;
  font-weight: bold;
}

.group_name {
  font-size: 20px;
  font-weight: bold;
}

.group_date {
  margin-left: 45%;
}

.add_link {
  text-decoration: none;
  color: #fff;
}

.add_link:hover {
  text-decoration: underline;
}

.add_new_container {
  margin-top: 105px;
 
  padding: 20px;
  border: 1px solid rgba(140, 239, 9, 0.8);
  background-color: rgba(140, 239, 9, 0.8)
}

.add_new {
  background-color: rgba(140, 239, 9, 0.8);
  border: 1px solid #fff;
  border-radius: 5px;
  height: 50%;
  text-align: center;
}
