.group-container {
  min-height: 100vh;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

.group_title {
  margin-left: 30%;
  margin-bottom: 20px;
}

.group {
  margin: 10px;
}

.amount-name {
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfb;
}

.amount-name h2 {
  margin-left: 25%;
}

.group_item {
  margin-bottom: 10px;
  background-color: #fbfbfb;
}

.group_p {
  margin-left: 5px;
}

.group_link {
  text-decoration: none;
  color: #692ceb;
}

.group_link:hover {
  text-decoration: underline;
}

.group_amount {
  font-size: 20px;
  font-weight: bold;
}

.group_name {
  font-size: 20px;
  font-weight: bold;
}

.group_date {
  margin-left: 30%;
}

.add_link {
  text-decoration: none;
  color: #fbfbfb;
}

.add_link:hover {
  text-decoration: underline;
}

.add_new_container {
  margin-top: 100%;
  padding: 20px;
  border: 1px solid #19c45d;
  background-color: #19c45d;
}

.add_new {
  background-color: #19c45d;
  border: 1px solid #fbfbfb;
  border-radius: 5px;
  height: 50%;
  text-align: center;
}
