.group_container_show {
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

.title_show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.name_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: 1px solid #000;
}

.show_date {
  margin-left: 45%;
}

.view_link {
  text-decoration: none;
  color: #692ceb;
}

.view_link:hover {
  text-decoration: underline;
  color: #692ceb;
}

.back_to_group {
  text-decoration: none;
  color: #692ceb;
  margin-left: 60%;
}

 .back_to_group:hover {
  text-decoration: underline;
  color: #692ceb;
}