.group_container_show {
  height: 50%;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.title_show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.name_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.amount-name h3 {
  margin-left: 60px;
}

.show_date {
  margin-left: 24%;
}

.view_link {
  text-decoration: none;
  color: #3778c2;
  margin-left: 75%;
}

.view_link:hover {
  text-decoration: underline;
  color: #3778c2;
}

.back_to_group {
  text-decoration: none;
  color: #fbfbfb;
}

.back_to_group:hover {
  text-decoration: underline;
  color: #3778c2;
}

.add_back_container {
  margin-top: 500px;
  padding: 20px;
  border: 1px solid #5fb523;
  background-color: #5fb523;
}

.add_new {
  background-color: #5fb523;
  border: 1px solid #fbfbfb;
  border-radius: 5px;
  height: 50%;
  text-align: center;
}
