.group_container_new {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
}

.group_input {
    display: block;
  margin: 10px;
}

.group_new_link {
    text-decoration: none;
    color: #501dc5;
    margin: 10px;
}

.group_new_link:hover {
    text-decoration: underline;
    color: #501dc5;
}