 .item_con {
  margin-top: 100px;
   margin-bottom: 0px;
}


 .amount-item {
  width:100%;
  display: flex;
  justify-content: space-between;
  background-color: #FBFBFB;
}

.amount-item h2 {
  margin-left: 25%;
}

.icon_item {
  margin-bottom: 10px;
  background-color: #FBFBFB
}

.item_date {
  margin-left: 25%;
}

.new_item_link {
  text-decoration: none;
  color: #FBFBFB;
}

.new_item_link:hover {
  text-decoration: underline;
  color: #FBFBFB;
}

.back_link {
  margin-left: 70%;
  text-decoration: none;
  color: #460ab7;
}

.add_new_container {
  margin-top: 105px;
  padding: 20px;
  border: 1px solid #19c45d;
  background-color: #19c45d;
}

.add_new {
  background-color: #19c45d;
  border: 1px solid #FBFBFB;
  border-radius: 5px;
  height: 50%;
  text-align: center;
}  
