.item_container {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.item_index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.item_date {
  margin-left: 45%;
}

.new_item_link {
  text-decoration: none;
  color: #fff;
}

.new_item_link:hover {
  text-decoration: underline;
  color: #fff;
}

.back_link {
  text-decoration: none;
  color: #460ab7;
  margin-left: 90%;
}

.add_new_container {
  margin-top: 105px;
  padding: 20px;
  border: 1px solid #19c45d;
  background-color: #19c45d;
}

.add_new {
  background-color: #19c45d;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 50%;
  text-align: center;
}
