body {
  background-color: #f5f5f5;
}

.field {
  width: 100%;
  margin-left: -2%;
  margin-right: -10%;
  padding-left: 2%;
}

.sign_up_container {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
}

.sign_up_title {
  margin-left: 5px;
}

.sign_up_form {
  margin: 5px;
}

.log_in_sign {
  color: #fbfbfb;
}

.sign_up_in {
  margin-left: -2%;
}
