.sign_up_container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 10px;
}

.sign_up_title {
  margin-left: 5px;
}

.sign_up_form {
  margin: 5px;
}

.actions {
  margin-top: 10px;
}
