.sign_up_container {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
}

.sign_up_title {
  margin-left: 50%;
}

.sign_up_form {
  margin-left: 47%;
  margin-top: 20px;
}

.actions {
  margin-top: 10px;
}